
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.home {
    background: linear-gradient(#ffc2d1, #ff9eb5);
    color: #5a2a3a;
    min-height: 100vh;
}

.home header {
    text-align: center;
    padding: 30px;
    font-size: 28px;
}

.home .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.home .perfil {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.home .apresentacao {
    flex: 1;
    max-width: 600px;
}

.home .perfil img {
    width: 300px;
}

.home .apresentacao {
    text-align: left;
}

.home .apresentacao p {
    line-height: 1.7;
    text-align: justify;
}

.home .paginacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.home .paginacao a {
    background: white;
    color: #cc1b5f;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.home .paginacao a:hover {
    background: #ff9eb5;
    color: white;
}

.home .paginacao .ativo {
    background: #cc1b5f;
    color: white;
}

.curiosidades .perfil img {
    width: 600px;
}

.login {
    background: linear-gradient(#ffc2d1, #ff9eb5);
    font-family: 'Segoe UI', sans-serif;
}

#titulo {
    color: #cc1b5f;
    font-weight: bold;
}

.login .btn-primary {
    background-color: #cc1b5f;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

.login .btn-primary:hover {
    background-color: #a0144a;
}

.home .perfil {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.home .apresentacao h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.home .apresentacao p {
    line-height: 1.8;
    text-align: justify;
}